%h1.mt-2 Home

%p Add grammar services to your account:
= form_with(url: user_add_services_path(@user), method: :post) do
  = select_tag :services, options_from_collection_for_select(@services, "id", "name"), { multiple: true, class: 'select_services w-50' }
  = submit_tag 'Save', class: 'btn btn-primary ml-2 save_services'

%h2.mt-4 Your current services
%table.table.mt-3
  %thead
    %tr
      %th Name
      %th Description
      %th
  %tbody
    - @user.services.each do |service|
      %tr
        %td= service.name
        %td= service.description
        %td= link_to 'remove', user_remove_service_path(@user, service), method: :post, title: 'remove service'
